@using CRM.Shared.Model;

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-6">
                    <label class="form-label"style="width:100px;">Ret antal timer:</label>
                    <input style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; width:100px" @bind="SelectedItem.ServiceHours" type="number">
                </div>
                <div class="col-6">
                    <label class="form-label" style="width:100px;">Nyt antal timer : @SelectedItem.ServiceHours</label>
                    @if (SelectedItem.ServiceHours != null)
                    {

                        <label class="form-label">@(SelectedItem.ServiceHours + HoursToBeAdded)</label>
                    }
                    @if(SelectedItem.ServiceHours == null)
                    {

                        <label class="form-label">@(SelectedItem.ServiceHours + HoursToBeAdded) ingen timer pt</label>
                    }
                  
                </div>
            </div>
            <br />
            <button class="btn btn-primary">
                Godkend 
            </button>
            <label></label>
            <button class="btn btn-danger">
                Fortryd
            </button>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public Customer? SelectedItem { get; set; }
    public float? HoursToBeAdded { get; set; }


}
