@using CRM.Shared.Model;
@inject HttpClient http;

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-6">
                    <label class="form-label"style="width:150px;">Ret antal timer:</label>
                    <input style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; width:100px" @bind="serviceHours.Hours" type="number">
                </div>
                <div class="col-6">
                    @if (SelectedItem.ServiceHours != null)
                    {
                        <label class="form-label" style="width:150px">  Nye antal timer </label>
                        <input style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; width: 100px" disabled="true" placeholder="@(SelectedItem.ServiceHours + serviceHours.Hours)" />
                    }
                    else
                    {
                        <label class="form-label">@(SelectedItem.ServiceHours ) ingen timer pt</label>
                    }
                  
                </div>
            </div>
            <br />
            <button class="btn btn-primary" @onclick="Confirm">
                Godkend 
            </button>
            <label></label>
            <button class="btn btn-danger" @onclick="Close">
                Fortryd
            </button>
        </div>
    </div>
</div>
@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter]
    public Customer? SelectedItem { get; set; }
    public float? HoursToBeAdded { get; set; }

    public ServiceHours serviceHours = new();

    private async Task UpdateCustomerTask() => await BlazoredModal.CloseAsync(ModalResult.Ok(SelectedItem));
    private async Task Close() => await BlazoredModal.CloseAsync();

    private async Task Confirm()
    {
        serviceHours.customerId = SelectedItem.Id;
        try
        {
            var response = await http.PostAsJsonAsync<ServiceHours>("api/ServiceHours", serviceHours );


            if (response.IsSuccessStatusCode == true)
            {
                SelectedItem.ServiceHours = SelectedItem.ServiceHours + serviceHours.Hours;
                await http.PutAsJsonAsync<Customer>($"api/Customers/{SelectedItem.Id}", SelectedItem);
                await UpdateCustomerTask();
                StateHasChanged();
            }
            else
            {
                StateHasChanged();
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}
