@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        @*  <a href="authentication/profile">Hello, @context.User.Identity?.Name!</a>*@
        <a href="authentication/profile">Bruger Indstillinger</a>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log ud</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Registrer</a>
        <a href="authentication/login">Log ind</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
