@inherits LayoutComponentBase
@using CRM.Client.Components.Customer
@using CRM.Client.Pages.Customer;
@using CRM.Client.Repositories;
@using CRM.Shared.Model;
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager Nav
@attribute [Authorize]

<div class="page">
    <main>
        <div class="top-row px-4 auth" style="background: #323c50; border-color: black;">
            <AuthorizeView>
                <Authorized>
                    <a href="/admin">Admin stuffs</a>
                </Authorized>
            </AuthorizeView>
            <LoginDisplay />
            <button style="border:thin; float:left;" @onclick="@(() => Nav.NavigateTo("/"))"><img src="/VicathEQIcon.png" alt="VicathTree" width="50" height="50" /></button>
        </div>
        <article class="content px-4" style="background: #20283a; ">
            @Body
        </article>
    </main>
</div>

@code {
}
