@inherits LayoutComponentBase
@using CRM.Client.Components;
@using CRM.Client.Pages.Costumer;

<div class="page">
  @*  <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
       

        <div class="top-row px-4 auth">
            <a style="color: #0071C1; cursor: pointer">
                <href @onclick="@(() => OpenModal())">Opret Kunde</href>
            </a>
            <a>
                <href @onclick="@(() => CreateContactModal())">Opret Kontaktperson</href>
            </a>
            <a href="/admin">Admin stuffs</a>
            <LoginDisplay/>
               
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    private void OpenModal()
    {
        var options = new ModalOptions()
        {
            Size = ModalSize.Automatic
        };
        Modal.Show<CreateCustomer>("Opret Kunde");
        StateHasChanged();
    }

    private void CreateContactModal()
    {
        var options = new ModalOptions()
            {
                Size = ModalSize.Automatic
            };
        Modal.Show<CreateContact>("", options);
        StateHasChanged();
    }
}
