@using CRM.Shared.Model;
@using CRM.Client.Components.States;
@inject CustomerStateService CustomerState;

<div class="container">
    <div class="row">
        <div class="col-sm">
            <textarea cols="50" placeholder="Beskrivelse"></textarea>
        </div>
    </div>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter]
    public Customer? SelectedItem { get; set; }
    
    private async Task Close() => await BlazoredModal.CloseAsync();
}
