@using CRM.Shared.Model;

@inject HttpClient http;


<div>
    <table class="table">
        <tr>
            <th>Beskrivelse</th>
            <th>Timer</th>
        </tr>
        <tbody>
            @foreach (var item in assignments)
            {
                <tr>
                    <td>@item.Description</td>
                    <td>@item.Hours</td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {
    List<Assignment> assignments = new();
    List<ServiceHours> serviceHours = new();

    protected override async Task OnInitializedAsync()
    {
        assignments = await http.GetFromJsonAsync<List<Assignment>>("/api/Assignments");
        serviceHours = await http.GetFromJsonAsync<List<ServiceHours>>("/api/ServiceHours");
    }
}
